* {font-family: sans-serif;
margin: 0px; 0px}


a:hover {
    color: purple;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: plum;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30pt;
    align-content: center;
}
.navlinks {
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-weight: bolder;
    width: 40%
}



/*

@media screen and (max-width: 768px) {
    body {overflow:hidden;}
    .navlinks { 
        position: absolute;
        right: 0px;
        height: 50vh;
        background-color: plum;
        top: 08vh;
        display: flex;
        flex-direction: column;
        width: 20%;
        transform: translatex(100%);
        transition: transform 0.5s ease-in;

        
    }
    .navlinks li {
        opacity: 0;
    }
    .burger {
        display:block;
    }
}

.navactive {
    transform: translatex(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px)

    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
} */


.button {
    text-align: center;
}

.quizprompt {
    text-align: center;
    padding: 50px;
    line-height: 40px;
    font-size: 20pt;
}

.quizanswer {
    text-align: center;
    align-items: center;
    align-content: center;
}
/*
header {
    background-color: plum;
    color: white;
    width: 100%;
    height: 160px;
    top: 0px;
    margin: 0px 0px;

    

   }
header h1 {
    font-size: 50pt;
    text-align: center;
    padding-top: 15px;
    
}
nav {
    background-color: plum;
    text-align: center;
}

nav li {
    display: inline;
    padding: 40px;
    margin-top;
    color: gray;
    font-size: 20pt;
    align-items: center;
    

}
*/

a {
    
}
nav li a:visited {
    color: white;
}

nav li a:link {
    color: white;
}

nav li a:hover {
    color: purple;
}
 #introphoto {
     text-align: center;
     padding: 40px;
     margin-top: 40px;
     
 }

#introduction {
    text-align: center;
    font-size: 20pt;
    font-style: italic;
    padding: 50px;
    color: lightslategray;
    line-height: 30px;
}



body h2 {
    font-size: 30pt;
    color: grey;
    padding: 20px 0px;
    margin: 0px 100px;
}

body ol {
    padding: 20px 0px;
    margin: 0px 120px;
    line-height: 30px;
    color: lightslategray;
    font-size: 14pt;
    
}

body p {
    color: lightslategray;
    padding: 20px 0px;
    margin: 0px 100px;
    font-size: 14pt;
}

.gallery {
    margin: 10px 50px;
    
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
footer {
    background-color: plum;
    color: white;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ul {
    list-style-type: none;
}

