* {font-family: sans-serif;
margin: 0px; 0px}

a:visited {

}
header {
    background-color: plum;
    color: white;
    width: 100%;
    height: 160px;
    top: 0px;
    margin: 0px 0px;

    

   }
header h1 {
    font-size: 50pt;
    text-align: center;
    padding-top: 15px;
    
}
nav {
    background-color: plum;
    text-align: center;
}

nav li {
    display: inline;
    padding: 40px;
    margin-top;
    color: gray;
    font-size: 20pt;

}


a {
    
}
nav li a:visited {
    color: white;
}

nav li a:link {
    color: white;
}

 #introphoto {
     text-align: center;
     padding: 40px;
     margin-top: 40px;
     
 }

#introduction {
    text-align: center;
    font-size: 20pt;
    font-style: italic;
    padding: 50px;
    color: lightslategray;
    line-height: 30px;
}



body h2 {
    font-size: 30pt;
    color: grey;
    padding: 20px 0px;
    margin: 0px 100px;
}

body ol {
    padding: 20px 0px;
    margin: 0px 120px;
    line-height: 30px;
    color: lightslategray;
    font-size: 14pt;
    
}

body p {
    color: lightslategray;
    padding: 20px 0px;
    margin: 0px 100px;
    font-size: 14pt;
}

.gallery {
    margin: 10px 50px;
    
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
footer {
    background-color: plum;
    color: white;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ul {
    list-style-type: none;
}

